/*------404-----*/
.error-box {height: 100vh;
    .error-title { font-size: 210px; font-weight: 900; text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;}
    .h3, h3 {line-height: 30px;font-size: 21px;margin: 10px 0; font-weight: 300;}
}

