.sb-sidenav {background-color: var(--primary)!important;
    padding-top: 80px; display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap; position: relative;  z-index: 99999;
    .sb-sidenav-menu {padding: 20px 0; flex-grow: 1; overflow-y: auto;
        .nav {flex-direction: column; flex-wrap: nowrap;
            .nav-link {
                display: flex;
                align-items: center;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                position: relative;
                color: var(--white);
                .sb-nav-link-icon {
                    min-width: 20px;
                    color: #adb5bd;
                    font-size: 0.9rem;
                    margin-right: 0.5rem;
                }
                &:hover, &.active{
                    color: var(--white);
                    background-color: rgba(0,0,0,0.2);
                    .sb-nav-link-icon {
                        color: #007bff;
                    }
                }
                
            }
        }
    }
}
