<main>
    <div class="page-breadcrumb bg-alpha-white">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="container-fluid">
        <div class="row">

            <!-- Dashboard Top Icon Boxes -->
            <div class="col-md-4 col-sm-4 mb-4 mb-sm-0">
                <div class="iconRectangle shadowBox">
                    <h3 class="color-skyblue">Sales Last Month</h3>
                    <div class="left d-flex justify-content-between">
                        <div class="icon"><i class="fas fa-signal"></i></div>
                        <div class="iconText">										
                            <h5>850</h5>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="col-md-4 col-sm-4 mb-4 mb-sm-0">
                <div class="iconRectangle shadowBox">
                    <h3 class="color-purple">Sales Income</h3>
                    <div class="left d-flex justify-content-between">
                        <div class="icon"><i class="fas fa-signal"></i></div>
                        <div class="iconText">										
                            <h5>950</h5>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4 col-sm-4 mb-4 mb-sm-0">
                <div class="iconRectangle shadowBox">
                    <h3 class="color-green">Total Revenue</h3>
                    <div class="left d-flex justify-content-between">
                        <div class="icon"><i class="fas fa-signal"></i></div>
                        <div class="iconText">										
                            <h5>1k</h5>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
              <!-- Dashboard Top Icon Boxes -->

              <div class="col-md-12 my-4">
                <div class="shadowBox">
                    <div class="boxTitleWidget d-flex justify-content-between align-content-center">
                        <h4 class="boxTitle">Sales / Revenue</h4>
                        <div class="rightOptions d-flex align-items-center">
                            <select class="form-control custom-select" id="" name="">
                                <option value="">
                                    Last 6 Months
                                </option>
                                <option value="">
                                    Last 4 Months
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="boxBody">
                        <!-- Statistics Graph -->
                        <div class="statisticsGraph">
                            <svg  viewbox="0 0 1038 284" width="100%" height="284" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <lineargradient gradientunits="objectBoundingBox" id="linear-gradient" x1="0.5" x2="0.5" y2="1">
                                    <stop offset="0" stop-color="#54d8ff"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </lineargradient>
                                <lineargradient gradientunits="objectBoundingBox" id="linear-gradient-2" x1="0.5" x2="0.5" y2="1">
                                    <stop offset="0" stop-color="#a7a7ff"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </lineargradient>
                                <lineargradient gradientunits="objectBoundingBox" id="linear-gradient-3" x1="0.5" x2="0.5" y2="1">
                                    <stop offset="0" stop-color="#a0d918"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </lineargradient>
                            </defs>
                            <g id="statistics-graph" transform="translate(-290 -260)">
                                <path d="M0,264V0H.908V263H203.45V203H1.179v-1H203.45V142H1.179v-1H203.45V81H1.179V80H203.45V20H1.179V19H203.45V0h.908V19H396V0h.908V19H590.367V0h.908V19H782.01V0h.908V19h205.9v1h-205.9V80h205.9v1h-205.9v60h205.9v1h-205.9v60h205.9v1h-205.9v60H989.092V0H990V264Zm782.01-1V203H591.275v60Zm-191.643,0V203H396.909v60ZM396,263V203H204.358v60ZM782.01,202V142H591.275v60Zm-191.643,0V142H396.909v60ZM396,202V142H204.358v60ZM782.01,141V81H591.275v60Zm-191.643,0V81H396.909v60ZM396,141V81H204.358v60ZM782.01,80V20H591.275V80ZM590.367,80V20H396.909V80ZM396,80V20H204.358V80Z" data-name="Chart Grid" fill="#eaf0f4" id="Chart_Grid" transform="translate(330 260)"></path>
                                <g data-name="Total Views Graph" id="Total_Views_Graph" transform="translate(325 347)">
                                    <path d="M330,490.153V354.422S441.382,489.367,532.878,494.445C634.964,493.3,635.8,424.39,725.508,386.665c75.1-29.621,132.406,51.18,195.224,53.151s106.172-55.378,191.876-59.362c111.039,6,200.14,82.62,207.054,86.74V523.21l-989.662.1Z" fill="url(#linear-gradient)" id="Filled.Graph" opacity="0.7" transform="translate(-324.995 -350)"></path>
                                    <path d="M312.953,279.164S427.792,416.6,517.543,417.881s120.442-80.975,192.505-108.707,134.578,52.9,194.744,53.91,117.771-60.576,191.7-58.9,158.446,48.262,205.173,85.012" fill="none" id="Line.Graph" stroke="#54d8ff" stroke-width="2" transform="translate(-306.994 -274)"></path>
                                    <g fill="#fff" id="Jun.Ellipse" stroke="#55d8fe" stroke-width="2" transform="translate(989.483 111)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g fill="#fff" id="May.Ellipse" stroke="#55d8fe" stroke-width="2" transform="translate(782.318 25)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g fill="#fff" id="Apr.Ellipse" stroke="#55d8fe" stroke-width="2" transform="translate(590.601 84)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g fill="#fff" id="Mar.Ellipse" stroke="#55d8fe" stroke-width="2" transform="translate(397.065 30)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g fill="#fff" id="Feb.Ellipse" stroke="#55d8fe" stroke-width="2" transform="translate(203.531 139)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g fill="#fff" id="Jan.Ellipse" stroke="#55d8fe" stroke-width="2">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                </g>
                                <g data-name="Products Sold Graph" id="Products_Sold_Graph" transform="translate(325 293)">
                                    <path d="M330,490.153V401.268s114.119,58.3,205.3,61.963c98.6-3.549,115.668-28.5,192.467-61.963,65.628-27.892,131.076-35.547,193.895-33.576s117.266,32.1,191.469,35.189c130.9-12.44,197.691-75.335,206.535-101.6V523.21l-989.665.1Z" data-name="Filled.Graph" fill="url(#linear-gradient-2)" id="Filled.Graph-2" opacity="0.7" transform="translate(-324.998 -296)"></path>
                                    <path d="M313,346.5s113.371,59.691,203.011,60.976,124.07-30.8,192.728-60.9,133.928-35.23,194.019-34.218,118.508,32.548,192.342,34.221,193.282-54.513,206.565-101.343" data-name="Line.Graph" fill="none" id="Line.Graph-2" stroke="#a3a0fb" stroke-width="2" transform="translate(-306.998 -241)"></path>
                                    <g data-name="Jun.Ellipse" fill="#fff" id="Jun.Ellipse-2" stroke="#a4a1fb" stroke-width="2" transform="translate(988.941)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="May.Ellipse" fill="#fff" id="May.Ellipse-2" stroke="#a4a1fb" stroke-width="2" transform="translate(781.89 101)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="Apr.Ellipse" fill="#fff" id="Apr.Ellipse-2" stroke="#a4a1fb" stroke-width="2" transform="translate(590.277 67)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="Mar.Ellipse" fill="#fff" id="Mar.Ellipse-2" stroke="#a4a1fb" stroke-width="2" transform="translate(396.848 101)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="Feb.Ellipse" fill="#fff" id="Feb.Ellipse-2" stroke="#a4a1fb" stroke-width="2" transform="translate(204.327 162)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="Jan.Ellipse" fill="#fff" id="Jan.Ellipse-2" stroke="#a4a1fb" stroke-width="2" transform="translate(0 100)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                </g>
                                <g id="Months" transform="translate(330 530)">
                                    <text fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="Jan" opacity="0.5" transform="translate(0 11)">
                                        <tspan x="0" y="0">
                                            Jan
                                        </tspan>
                                    </text>
                                    <text fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="Feb" opacity="0.5" transform="translate(196 11)">
                                        <tspan x="0" y="0">
                                            Feb
                                        </tspan>
                                    </text>
                                    <text fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="Mar" opacity="0.5" transform="translate(386 11)">
                                        <tspan x="0" y="0">
                                            Mar
                                        </tspan>
                                    </text>
                                    <text fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="Apr" opacity="0.5" transform="translate(581 11)">
                                        <tspan x="0" y="0">
                                            Apr
                                        </tspan>
                                    </text>
                                    <text fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="May" opacity="0.5" transform="translate(773 11)">
                                        <tspan x="0" y="0">
                                            May
                                        </tspan>
                                    </text>
                                    <text fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="Jun" opacity="0.5" transform="translate(973 11)">
                                        <tspan x="0" y="0">
                                            Jun
                                        </tspan>
                                    </text>
                                </g>
                                <g id="Y-Axis-Info" transform="translate(290 268)">
                                    <text data-name="$5k" fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="_5k" opacity="0.5" transform="translate(0 255)">
                                        <tspan x="0" y="0">
                                            $5k
                                        </tspan>
                                    </text>
                                    <text data-name="$10k" fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="_10k" opacity="0.5" transform="translate(0 194)">
                                        <tspan x="0" y="0">
                                            $10k
                                        </tspan>
                                    </text>
                                    <text data-name="$15k" fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="_15k" opacity="0.5" transform="translate(0 134)">
                                        <tspan x="0" y="0">
                                            $15k
                                        </tspan>
                                    </text>
                                    <text data-name="$20k" fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="_20k" opacity="0.5" transform="translate(0 72)">
                                        <tspan x="0" y="0">
                                            $20k
                                        </tspan>
                                    </text>
                                    <text data-name="$25k" fill="#43425d" font-family="OpenSans, Open Sans" font-size="11" id="_25k" opacity="0.5" transform="translate(0 11)">
                                        <tspan x="0" y="0">
                                            $25k
                                        </tspan>
                                    </text>
                                </g>
                                <g data-name="Products Sold Graph" id="Products_Sold_Graph-2" transform="translate(325 328)">
                                    <path d="M330,490.153V401.268S432.445,379.338,523.61,383c98.578-3.549,121.135,62.667,209.6,57.333,72.136-8,130.662-98.667,188.507-94.667s117.082,54.126,191.272,57.214C1243.874,390.44,1298.055,428.333,1328,451c0,8.024-8.507,72.21-8.507,72.21l-989.492.1Z" data-name="Filled.Graph" fill="url(#linear-gradient-3)" id="Filled.Graph-3" opacity="0.7" transform="translate(-324.998 -341)"></path>
                                    <path d="M313,346.5S424.153,326.715,513.792,328s122.518,65.333,197.39,60,128.451-98.345,188.542-97.333,121.533,54.242,195.365,55.916S1227.459,334.5,1302.331,390.5" data-name="Line.Graph" fill="none" id="Line.Graph-3" stroke="#c2f251" stroke-width="2" transform="translate(-306.998 -286)"></path>
                                    <g data-name="Jun.Ellipse" fill="#fff" id="Jun.Ellipse-3" stroke="#c2f251" stroke-width="2" transform="translate(988.941 97)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="May.Ellipse" fill="#fff" id="May.Ellipse-3" stroke="#c2f251" stroke-width="2" transform="translate(781.823 56)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="Apr.Ellipse" fill="#fff" id="Apr.Ellipse-3" stroke="#c2f251" stroke-width="2" transform="translate(590.226)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="Mar.Ellipse" fill="#fff" id="Mar.Ellipse-3" stroke="#c2f251" stroke-width="2" transform="translate(396.814 96)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="Feb.Ellipse" fill="#fff" id="Feb.Ellipse-3" stroke="#c2f251" stroke-width="2" transform="translate(204.309 37)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                    <g data-name="Jan.Ellipse" fill="#fff" id="Jan.Ellipse-3" stroke="#c2f251" stroke-width="2" transform="translate(0 55)">
                                        <circle cx="4.995" cy="4.995" r="4.995" stroke="none"></circle>
                                        <circle cx="4.995" cy="4.995" fill="none" r="3.995"></circle>
                                    </g>
                                </g>
                            </g></svg>
                        </div>
                        <!-- Statistics Graph -->
                        <div class="col-md-4 mt-4 px-0 d-flex justify-content-between align-content-center">
                            <div class="symboldate air">
                                <div></div><span>Direct</span>
                            </div>
                            <div class="symboldate ocean">
                                <div></div><span>Affiliate</span>
                            </div>
                            <div class="symboldate truck">
                                <div></div><span>E-mail</span>
                            </div>
                        </div>
                   </div>
                </div>
               </div>

               <div class="col-md-12 my-4">
                <div class="shadowBox">
                    <div class="boxTitleWidget d-flex justify-content-between align-content-center">
                        <h4 class="boxTitle">Table</h4>
                    </div>
                    
                    <div class="boxBody">
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">#</th>
                                        <th class="border-top-0">First Name</th>
                                        <th class="border-top-0">Last Name</th>
                                        <th class="border-top-0">Username</th>
                                        <th class="border-top-0">Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of tableData">
                                        <td>{{data.sno}}</td>
                                        <td>{{data.firstname}}</td>
                                        <td>{{data.lastname}}</td>
                                        <td>{{data.username}}</td>
                                        <td>{{data.role}}</td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>

            </div>
    </div>
</main>
